@page
@model pabio.Pages.Events.ListModel

@{
    ViewData["Title"] = "Події";
}

<h1 class="display-5">Події</h1>

@{

    if (Model.CanAddNew)
    {
        // <button class="btn btn-primary">Додати подію</button>
        <a asp-page="Create" class="btn btn-success">Додати подію</a>
    }
}

<div class="container">
    @foreach (var eventItem in Model.Events)
    {
        <div class="card m-3">
            <div class="card-header bg-secondary text-white position-sticky  d-sm-inline-flex justify-content-between ">
                <h5 class="mb-0">@eventItem.Caption</h5>

                @{
                    if (Model.CanAddNew)
                    {
                        <div class="d-sm-inline-flex">
                            <a asp-Page="Edit" asp-route-id="@eventItem.EventId" class="btn btn-primary">Редагувати</a>
                            <form asp-page-handler="Delete" asp-route-id="@eventItem.EventId">
                                <button class="btn btn-danger">Видалити</button>
                            </form>
                        </div>
                    }
                }
            </div>

            <div class="list-group list-group-flush">

                <a class="list-group-item list-group-item-action" target="_blank" href="@eventItem.Url">
                    <small class="text-black">@eventItem.Date</small>
                    @* <h6 class="mb-1"></h6> *@
                    <p class="mb-0 text-black">@eventItem.Description</p>
                </a>

            </div>
        </div>
    }
</div>
